################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CarAssistant/v15/Server/sqlite3
/CarAssistant/obj/Debug
/.vs
/CarAssistant/obj/Release
/CarAssistantTest/obj/Release
/CarAssistant/Classes/Facade
